@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
    /* Fonts */
    --main-font: 'Red Hat Display', sans-serif;

    --h1-font-size: 64px;
    --h1-font-size: 4rem;
    --h1-line-height: 64px;
    --h1-line-height: 4rem;

    --h2-font-size: 40px;
    --h2-font-size: 2.5rem;
    --h2-line-height: 44px;
    --h2-line-height: 2.75rem;

    --overline-font-size: 16px;
    --overline-font-size: 1rem;

    --body-font-size: 18px;
    --body-font-size: 1.125rem;
    --overline-body-line-height: 26px;
    --overline-body-line-height: 1.625rem;

    /* Main Colors */
    --main-background-color: #FAFAFA;
    --title-color: #28283D;
    --paragraph-color: #87879D;

    /* First Button Style Colors */ 
    --button-color-1: #4D96A9;
    --software-version-color-1: #8FE3F9;
    --button-active-color-1: #71C0D4;

     /* Second Button Style Colors */ 
    --button-color-2: #855FB1;
    --software-version-color-2: #D9B8FF;
    --button-active-color-2: #B18BDD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

h1, h2 {
    color: var(--title-color);
}

p {
    line-height: var(--overline-body-line-height);
    font-size: var(--overline-font-size);
    color: var(--paragraph-color);
}

.header {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__logo {
    margin-bottom: 48px;
    width: 119px;
    display: block;
}

.header__banner {
    margin-bottom: 48px;
    width: 414px;
    display: block;
    overflow: hidden;
}

.header__headline {
    width: 290px;
    line-height: var(--h2-line-height);
    font-size: var(--h2-font-size);
    font-weight: 900;
    margin-bottom: 24px;
}

.header__copy {
    width: 327px;
    margin-bottom: 32px;
}

.header__button-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header__first-button-style {
    width: 193px;
    height: 58px;
    background-color: var(--button-color-1);
    border: none;
    border-radius: 29px;
    color: #FFF;
    font-size: var(--overline-font-size);
    font-weight: 900;
}

.header__first-button-style span {
    color: var(--software-version-color-1);
}

.header__second-button-style {
    width: 139px;
    height: 58px;
    background-color: var(--button-color-2);
    border: none;
    border-radius: 29px;
    color: #FFF;
    font-size: var(--overline-font-size);
    font-weight: 900;
}

.separator {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator__line {
    width: 1px;
    height: 84px;
    background-color: var(--paragraph-color);
}

.separotor__number {
    width: 56px;
    height: 56px;
    border: 1px solid var(--paragraph-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--overline-font-size);
    font-weight: 900;
}

.content__overline {
    line-height: var(--overline-body-line-height);
    text-transform: uppercase;
    font-size: var(--overline-font-size);
    font-weight: 900;
    letter-spacing: 4px;
    text-align: center;
    color: var(--button-color-1);
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.first-section__image {
    width: 151px;
    border-radius: 8px;
}