@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
    /* Fonts */
    --main-font: 'Red Hat Display', sans-serif;

    --h1-font-size: 64px;
    --h1-font-size: 4rem;
    --h1-line-height: 64px;
    --h1-line-height: 4rem;

    --h2-font-size: 40px;
    --h2-font-size: 2.5rem;
    --h2-line-height: 44px;
    --h2-line-height: 2.75rem;

    --overline-font-size: 16px;
    --overline-font-size: 1rem;

    --body-font-size: 18px;
    --body-font-size: 1.125rem;
    --overline-body-line-height: 26px;
    --overline-body-line-height: 1.625rem;

    --width-text-elements: 327px;
    --width-text-elements: 20.4375rem;

    /* Main Colors */
    --main-background-color: #FAFAFA;
    --title-color: #28283D;
    --paragraph-color: #87879D;
    --separator-border-color: rgb(135, 135, 157, .25);

    /* First Button Style Colors */ 
    --button-color-1: #4D96A9;
    --software-version-color-1: #8FE3F9;
    --button-active-color-1: #71C0D4;

     /* Second Button Style Colors */ 
    --button-color-2: #855FB1;
    --software-version-color-2: #D9B8FF;
    --button-active-color-2: #B18BDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    text-align: center;
}

h1, h2 {
    width: var(--width-text-elements);
    color: var(--title-color);
}

h2 {
    line-height: 36px;
    line-height: 2.25rem;
    font-size: 32px;
    font-size: 2rem;
}

p {
    width: var(--width-text-elements);
    line-height: var(--overline-body-line-height);
    font-size: var(--overline-font-size);
    color: var(--paragraph-color);
}

button {
    border: none;
    border-radius: 29px;
    border-radius: 1.8125rem;
    color: #FFF;
    font-size: var(--overline-font-size);
    font-weight: 900;
    cursor: pointer;
}

/* HEADER STYLE */
.header {
    margin-top: 48px;
    margin-top: 3rem;
    margin-bottom: 64px;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header__logo {
    margin-bottom: 54px;
    margin-bottom: 3.375rem;
    width: 119px;
    width: 7.4375rem;
    display: block;
}

.header__banner {
    margin-bottom: 48px;
    margin-bottom: 3rem;
    width: 414px;
    width: 25.875rem;
    display: block;
}

.header__banner-desktop {
    display: none;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__headline {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    width: 290px;
    width: 18.125rem;
    line-height: var(--h2-line-height);
    font-size: var(--h2-font-size);
    font-weight: 900;
}

.header__copy {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.header__button-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    gap: 1rem;
}

/* BUTTON STYLES */
.header__first-button-style {
    width: 193px;
    width: 12.0625rem;
    height: 58px;
    height: 3.625rem;
    background-color: var(--button-color-1);
}

.header__first-button-style span {
    color: var(--software-version-color-1);
}

.header__second-button-style {
    width: 139px;
    width: 8.6875rem;
    height: 58px;
    height: 3.625rem;
    background-color: var(--button-color-2);
}

.second-section__button-style {
    margin-bottom: 72px;
    margin-bottom: 4.5rem;
    width: 193px;
    width: 12.0625rem;
    height: 58px;
    height: 3.625rem;
    background-color: var(--button-color-2);
    z-index: 1;
}

.second-section__button-style span {
    color: var(--software-version-color-2);
}

/* SEPARATOR STYLE */
.separator {
    margin-bottom: 64px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator__line {
    width: 1px;
    width: 0.0625rem;
    height: 84px;
    height: 5.25rem;
    background: var(--separator-border-color);
}

.separator__number {
    width: 56px;
    width: 3.5rem;
    height: 56px;
    height: 3.5rem;
    background-color: var(--main-background-color);
    border: 1px solid var(--separator-border-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--overline-font-size);
    font-weight: 900;
}

.separator--custom-margin {
    margin-bottom: -28px;
    margin-bottom: -1.75rem;
    position: relative;
    z-index: 1;
}

/* FIRST SECTION STYLE */
.first-section {
    margin-bottom: 64px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section__images {
    margin-bottom: 64px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    gap: 1.5rem;
}

.first-section__image {
    width: 151px;
    width: 9.4375rem;
    border-radius: 8px;
    border-radius: 0.5rem;
}

.content__overline {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    line-height: var(--overline-body-line-height);
    text-transform: uppercase;
    font-size: var(--overline-font-size);
    font-weight: 900;
    letter-spacing: 4px;
    letter-spacing: 0.25rem;
    text-align: center;
    color: var(--button-color-1);
}

.first-section h2 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

/* SECOND SECTION STYLE */
.second-section {
    width: 100vw;
    padding-top: 92px;
    padding-top: 5.75rem;
    background-color: var(--button-color-1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section::before {
    content: "";
    background-image: url("../assets/mobile/image-footer.jpg");
    background-size: cover;
    position: absolute;
    opacity: .1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.second-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section__content h2,
.second-section__content p {
    color: var(--main-background-color);
}

.second-section__content h2 {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.second-section__content p {
    margin-bottom: 32px;
    margin-bottom: 2rem;
    font-size: var(--body-font-size);
}

@media screen and (min-width: 768px) {
    h2 {
        line-height: var(--h2-line-height);
        font-size: var(--h2-font-size);
    }

    /* HEADER STYLE */
    .header {
        margin-bottom: 80px;
        margin-bottom: 5rem;
    }

    .header__logo {
        margin-bottom: 64px;
        margin-bottom: 4rem;
    }

    .header__banner {
        margin-bottom: 72px;
        margin-bottom: 4.5rem;
        width: 820px;
        width: 51.25rem;
    }

    .header__headline {
        width: 339px;
        width: 21.1875rem;
        line-height: 48px;
        line-height: 3rem;
        font-size: 48px;
        font-size: 3rem;
    }

    .header__copy {
        width: 457px;
        width: 28.5625rem;
    }

    .header__button-set {
        flex-direction: row;
    }

    /* SEPARATOR STYLE */
    .separator {
        margin-bottom: 67px;
        margin-bottom: 4.1875rem;
    }

    .separator--custom-margin {
        margin-bottom: -28px;
        margin-bottom: -1.75rem;
    }

    /* FIRST SECTION STYLE */
    .first-section {
        margin-bottom: 80px;
        margin-bottom: 5rem;
    }

    .first-section__images {
        margin-bottom: 48px;
        margin-bottom: 3rem;
        gap: 11px;
        gap: 0.6875rem;
    }

    .first-section__image {
        width: 164px;
        width: 10.25rem;
    }

    .content__overline {
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .first-section h2 {
        width: 445px;
        width: 27.8125rem;
    }

    .first-section p {
        width: 573px;
        width: 35.8125rem;
    }

    .second-section h2 {
        margin-bottom: 32px;
        margin-bottom: 2rem;
        width: 457px;
        width: 28.5625rem;
    }

    .second-section p {
        margin-bottom: 40px;
        margin-bottom: 2.5rem;
        width: 573px;
        width: 35.8125rem;
    }

    .second-section::before {
        background-image: url("../assets/tablet/image-footer.jpg");
    }

    .second-section__button-style {
        margin-bottom: 66px;
        margin-bottom: 4.125rem;
    }
}

@media screen and (min-width: 1440px) {
    /* HEADER STYLE */
    .header {
        margin-bottom: 117px;
        margin-bottom: 7.3125rem;
    }

    .header__logo {
        /* margin-top: 80px;
        margin-top: 5rem; */
        margin-top: 32px;
        margin-bottom: 61px;
        margin-bottom: 3.8125rem;
    }

    .header__banner {
        display: none;
    }

    .header__banner-desktop {
        display: block;
        width: 394px;
        width: 24.625rem;
    }

    .header__content {
        flex-direction: row;
        align-items: flex-start;
        gap: 88px;
        gap: 5.5rem;
    }

    .header__content img:last-child {
        /* position: relative;
        top: 47px; */
        margin-top: 55px;
        /* margin-top: 2.9375rem; */
        /* align-self: flex-end; */
    }

    .header__headline {
        margin-top: 47px;
        margin-top: 2.9375rem;
        margin-bottom: 34px;
        margin-bottom: 2.125rem;
        width: 445px;
        width: 27.8125rem;
        line-height: var(--h1-line-height);
        font-size: var(--h1-font-size);
    }

    .header__copy {
        width: 540px;
        width: 33.75rem;
        font-size: var(--body-font-size);
    }

    /* SEPARATOR STYLE */
    .separator {
        margin-bottom: 64px;
        margin-bottom: 4rem;
    }

    .separator--custom-margin {
        margin-bottom: -28px;
        margin-bottom: -1.75rem;
    }

    /* FIRST SECOND STYLE */
    .first-section {
        margin-bottom: 72px;
        margin-bottom: 4.5rem;
    }

    .first-section__images {
        margin-bottom: 80px;
        margin-bottom: 5rem;
        gap: 30px;
        gap: 1.875rem;
    }

    .first-section__image {
        width: 255px;
        width: 15.9375rem
    }

    .first-section p {
        width: 520px;
        width: 32.5rem;
        font-size: var(--body-font-size);
    }

    /* SECOND SECOND STYLE */
    .second-section {
        padding-top: 116px;
        padding-top: 7.25rem;
        padding-bottom: 104px;
        padding-bottom: 6.5rem;
    }

    .second-section::before {
        background-image: url("../assets/desktop/image-footer.jpg");
    }

    .second-section__content {
        flex-direction: row;
        align-items: flex-start;
        gap: 92px;
        gap: 5.75rem;
        text-align: left;
    }

    .second-section h2 {
        margin-bottom: 0;
        margin-right: 33px;
        margin-right: 2.0625rem;
        width: 350px;
        width: 21.875rem;
    }

    .second-section p {
        margin-bottom: 0;
        width: 350px;
        width: 21.875rem;
    }

    .second-section__button-style {
        margin-bottom: 0;
        align-self: center;
    }
}